.btn {
    display: block;
    cursor: pointer;
    padding: 10px 20px;
    text-transform: uppercase;
    color: white;
    background-color: black;
    width: 100%;
    margin: 0 auto;
    outline: none;
    font-weight: 300;
    font-size: 20px;
}